// bower:less
@import "../../bower_components/bootstrap/less/bootstrap.less";
// endbower
@icon-font-path: '../bower_components/bootstrap/fonts/';
@lurinyellow: #F2EA00;
body,
html {
    height: 100%;
}

h1 {
    font-size: 24px;
}

body {
    background-color: #F2F2F2;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.ng-scope {
    height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }

.ngn {
    /*notifications */
    
    height: auto;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.imagePlacerMap .angular-google-map-container{
    height:300px;
    min-height: 300px;
}

.bigMap .angular-google-map-container{
    position:absolute;
    /*height: 100%; */
        top: 188px;
}


.angular-google-map-container {

   /* min-height: 400px;*/
    bottom: 0;
    right: 0;
    left: 0;
}

.markerPopUp {
    padding: 10px;
    background-color: white;
    text-align: center;
    max-width: 200px;
}

#mapFooter {
    position: fixed;
    height: 110px;
    bottom: 0;
}

ul {
    &, li {
        list-style-image: none;
        list-style-type: none;
    }
}

.navbar {
    border-top: 15px solid @lurinyellow;
    background-color: white;
    img {
        margin: 5px auto;
    }
}

.navbar-default {
    .navbar-nav {
        .navRules() {
            background-color: white;
            border-bottom-color: #ffff4f;
            font-size: 20px;
        }
        li {
            a {
                .navRules();
            }
        }
        .active {
            a, a:hover, a:visited {
                .navRules();
                border-bottom: 3px solid @lurinyellow;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.nav > li > a {
    margin: 10px 15px 10px 0px;
    padding: 2px 2px;
}

.thumbFooter {
    padding-bottom: 10px;
}

.contentItems {
    ul li span {
        display: table-cell;
        vertical-align: middle;
    }
    span {
        padding: 10px;
    }
    ul {
        padding: 0px;
    }
    li {
        border-bottom: 1px black;
        margin-top: 25px;
        clear: both;
        background-color: white;
        border-top: 5px solid @lurinyellow;
    }
}

.login {
    padding: 5px 15px 0px 5px;
}

.jumbotron {
    background-color: white;
    .shadow
}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

// this goes into a css file loaded after the compiled bootstrap.min.css
.editContainer [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    border-top: 1px solid #444444;
}

.headerImage {
    position: relative;
    img {
        padding-right: 10px;
        padding-left: 5px;
    }
    a,
    a:hover,
    a:visited {
        color: black;
    }
    span {
        display: block;
        position: absolute;
        right: 15px;
        bottom: 80px;
        border-radius: 4px;
        background-color: @lurinyellow;
        width: 190px;
        height: 26px;
    }
}

@media (max-width: 768px) {
    .headerImage span {
        display: none;
    }
}

.btn-primary{
        background-color: #F2EA00;
        border: solid 1px black;
        color:black;
}
.btn-primary:hover{
        background-color: black;
}