<div class="modal lurinYellowBg" ng-style="{ 'display' : (fact == null) ? 'none' : 'inline'}">
    <span class="btn btn-primary" data-ng-click="closeModal()" style="margin:10px; right:5px;position: absolute;">x</span>
    <div class="lurinYellowBg factFullscreen">
        <span>                        
            <b class="indentFirst">&ldquo;{{ fact.fact }}&rdquo;</b>
            <div class="factSubtitle">
            by {{ fact.contributor }}, {{ fact.insertTime | date:'medium' }} 
            </span>
        </span>
    </div>
</div>