<div class="modal lurinYellowBg imageFullscreenBg" ng-style="{ 'display' : (location.thumbnail == null) ? 'none' : 'inline' ,'background': location.bgUrl}">

    <span class="btn btn-primary" data-ng-click="closeModal()" style="margin:10px; right:5px;position: absolute;">x</span>

    <div class="lurinYellowBg imageDescription">
        <div class="image-child">
            <h4>{{location.imageTitle}}</h4>
            {{location.funFact}}
            <br/>
            <span ng-show="mainImageLoading == 1">
                <div class="loader" style="float:left"></div>
                <i class="imageLoading">Image loading</i>
            </span>
        </div>
        <div ng-show="handler" style="padding: 10px 20px">
            <div class="row" style="float:right">
                <span class="btn btn-primary" data-ng-click="previousImage()">previous</span>
                <span class="btn btn-primary" data-ng-click="nextImage()">next</span>
            </div>
        </div>
        <!-- preload next images for smoother transition -->
        <img ng-src="{{previousLocationUrl}}" style="display:none" />
        <img ng-src="{{nextLocationUrl}}" style="display:none" />
    </div>