<div class="jumbotron">
    <div ng-controller="ManageProposalCtrl as vm" ng-cloak>

        <h3>Manage proposals</h3> Search for a proposals:
        <p>
            <input type="text" ng-model="vm.search_fact">
        </p>
        <input type="button" class="btn" ng-click="vm.deleteAll()" value="delete all" />
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="fact in vm.proposals | filter:vm.search_fact" style="min-height:60px">
                <div class="row">
                    <div class="col-sm-10">
                        <b>{{ fact.fact }}</b>
                        <br/> @ {{ fact.insertTime | date:'medium' }} | by {{ fact.contributor }}
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn" ng-click="vm.deleteProposal(fact)" value="delete" />
                        <input type="button" class="btn" ng-click="vm.approveProposal(fact)" value="approve" />
                    </div>
                </div>
            </li>
    </div>
</div>