<div class="jumbotron">
    <div ng-controller="ManageImageCtrl as vm" ng-cloak>

        <h3>{{vm.title}}</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="location in vm.locations" style="height:120px">
                <div class="row">
                    <div class="col-sm-2">
                        <img ng-show="location.guid" src="{{location.thumbnail}}" />
                    </div>
                    <div class="col-sm-8">
                        <b>{{ location.imageTitle }}</b>
                        <br/>{{ location.funFact }}
                        <br/> {{ location.imageUrl }}
                        <br/> Lat: {{location.location.lat}} Lng: {{location.location.lng}}
                        <br/> {{location.location.address}}</div>
                    <div class="col-sm-2">
                        <input type="button" class="btn" ng-click="vm.deleteImage(location.guid)" value="delete" />
                    </div>
                </div>
            </li>
    </div>
</div>