<div class="jumbotron">
    <div ng-controller="ManageImageCtrl as vm" ng-cloak>

        <h1>{{vm.title}}</h1>

        <div ng-repeat="location in vm.locations" style="height:100px">
            <img style="float:left;padding:10px" ng-show="location.guid" src="{{location.thumbnail}}"/>
            <div style="float:left">
                <p><b>{{ location.imageTitle }}</b></p>
                {{ location.imageUrl }}<br/>
                Lat: {{location.lat}} Lng: {{location.lng}}<br/>
                {{location.address}}
            </div>
        </div>
    </div>
</div>
