<div class="jumbotron" ng-controller="FactsCtrl as factsCtrl">
    <modal-popup-fact fact="selectedFact"></modal-popup-fact>

    <h2>Facts about Lurin</h2>
    <div class="contentItems">
        Search:
        <input type="text" id="searchText" ng-model="factsCtrl.searchText" />
        <br/>
        <span ng-show="!facts || facts.length == 0">
            <div class="loader" style="float:left"></div>
            <i class="imageLoading">Facts loading</i>
        </span>
        <ul>
            <li style="cursor:pointer" ng-repeat="fact in facts | filter:factsCtrl.searchText | orderBy:'insertTime':true" class="shadow">
            <button class="shareFactButton" ng-show="isShareAvailable" data-ng-click="share(fact)">Share</button>
            <div class="factText" data-ng-click="selectFact(fact)">
                    <b>{{ fact.fact }}</b>
                    <br/> @ {{ fact.insertTime | date:'medium' }} | by {{ fact.contributor }}
            </div>
        </li>

        </ul>
    </div>
</div>