<div class="jumbotron"  ng-controller="FactsCtrl as factsCtrl">
    <modal-popup-fact fact="selectedFact"></modal-popup-fact>

    <h2>Facts about Lurin</h2>
    <div class="contentItems">
        Search: <input type="text" id="searchText" ng-model="factsCtrl.searchText" />
        <ul>
            <li ng-repeat="fact in facts | filter:factsCtrl.searchText | orderBy:'insertTime':true" class="shadow"  data-ng-click="selectFact(fact)">
                <span>                        
                <b>{{ fact.fact }}</b>
                        <br/> @ {{ fact.insertTime | date:'medium' }} | by {{ fact.contributor }}
            </span>
            </li>

        </ul>
    </div>
</div>